if current.path[0] == "design"
  header.design-header.headroom
    .container
      h1.center
        a.header-deasy(href="/") Deasy
        a.header-design(href="/design") Design

else
  header.deasy-header.headroom
    .container.header-container.container-borders
       img.dlogo(src="/assets/images/DD_logo.png")
    nav.navbar.navbar-deasy.navbar-fixed-top(role="navigation", data-0="margin-top: 80px;", data-200="margin-top: 0;")
      .container.container-borders
        .dd-head
          a.header-deasy(href="/", data-0="font-size: 80px; text-align:center; margin-left: 29%;", data-130="font-size:50px; text-align:left;margin-left: 1%;") Deasy
          a.header-design(href="/design", data-0="font-size: 80px; text-align:center;", data-130="font-size:50px; text-align:left;") Design
          span.details(data-0="opacity: 0", data-130="opacity: 1") <a title="phone" href="tel:336-847-1441">336-847-1441</a> | david@deasydesign.com
        .social-icons(data-0="opacity: 1", data-130="opacity: 0")
          .icon-row
            a.icon-first.linkedin(href="#")
            a.icon-second.behance(href="#")
          .icon-row
            a.icon-second.mail(href="#")
            a.icon-second.pinterest(href="#")
          .icon-row
            a.icon-first.facebook(href="#")
            a.icon-first.twitter(href="#")
        .social-icons(data-0="opacity: 0", data-130="opacity: 1")
          .icon-row
            a.icon-first.twitter(href="#")
            a.icon-first.linkedin(href="#")
            a.icon-second.behance(href="#")
          .icon-row
            a.icon-first.facebook(href="#")
            a.icon-second.mail(href="#")
            a.icon-second.pinterest(href="#")
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .nav-border
          .nav-width
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.nav-justified
                li.active
                  a(href="#introduction") An Awkward Introduction
                li |
                li
                  a(href="#hello") Hello From David
                li |
                li
                  a(href="#aboutdavid") About David
                li |
                li
                  a(href="#testimonials") Testimonials
                li |
                li
                  a(href="#contact") Get In Touch
