!!!
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ site_title }
    link(rel="stylesheet", href="/assets/css/app.css")
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/assets/js/be.js", type="text/javascript")
    script(src="/assets/js/handlebars.js", type="text/javascript")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    article#content
      .container.main-content
        .row
          .col-sm-8.main
            != yield
            != partial("_partials/comments")
          .col-sm-offset-1.col-sm-3.aside
            != partial("_partials/aside")
    hr
    != partial("_partials/footer")
    script
