section#introduction.intro
  .container
    .row
      .col-sm-8
        h4 Don't Expect Much From Us Pixels
        p Hello, we're a bunch of pixels strategically placed by David Deasy, to tell you that he is a graphic designer known for generating profound ideas from his brain.  Ideas that blossom through a dialogue with you. Ideas that are superbly executed with us picels, but not by us pixels. <a href="#">Ideas like this one.</a> On this site, you'll find pixels that tell you how to contact him, pixals that formulate <a href="/design">his portfolio</a>, and a likeness of his flesh vehicle. But if you're looking for more than that from us, I'm afraid you're out of luck.
        p.pull-quote We only give answers.

      .col-sm-4
        img.center.img-responsive(src="assets/images/pixeldavid.png", alt="pixeldavid" width="367" height="560")

section.parallaxscroll
  .parallaxscroll-4
  .parallaxscroll-3(data-0="background-position: 0px 0px;" data-end="background-position: 0px 0px;")
  .parallaxscroll-2(data-0="background-position: 0px -1700px;" data-end="background-position: 0px 1800px;")
  .parallaxscroll-1(data-0="background-position: 0px -1950px;" data-end="background-position: 0px 2300px;")

section#hello.hello
  .container
    .row
      .col-sm-8
        h4 Don't Expect Much From Us Pixels
        p Hello, we're a bunch of pixels strategically placed by David Deasy, to tell you that he is a graphic designer known for generating profound ideas from his brain.  Ideas that blossom through a dialogue with you. Ideas that are superbly executed with us picels, but not by us pixels. <a href="#">Ideas like this one.</a> On this site, you'll find pixels that tell you how to contact him, pixals that formulate <a href="/design">his portfolio</a>, and a likeness of his flesh vehicle. But if you're looking for more than that from us, I'm afraid you're out of luck.
        p.pull-quote We only give answers.

      .col-sm-4
        img.center.img-responsive(src="assets/images/screendavid.png", alt="screendavid" width="367" height="560")

section#aboutdavid.about
  .container
    .row
      .col-sm-4.what
        h3 What I Do
        p People often ask me if I’m a web designer or print designer. Although I can do both, my primary focus is that of a communicator. Let’s discover a concept that champions your message, and I’ll amplify it through design—making the most out of the delivery you choose.
      .col-sm-4.how
        h3 How We Do It
        p 1) We’ll ask each other questions to learn more and to get a feel for the collaborative relationship to follow. If we wish to proceed, an agreement will be signed with milestones to keep us on track. I’ll also ask you to ﬁll out a creative brief questionaire, which crystalizes the objectives, gives me a sense of the big picture—ensuring we make the most of our time.
        p 2) Next, I start digging. What I’m looking for is the strongest link between you or your product and your audience.
        p 3) With this essential truth revealed, it becomes the guide for ideas I will develop through research, exploration, and open communication with you. It’s this informed approach that leads to design solutions that resonate with your audience as relevant and memorable because it speaks to them on a emotional level.
        p 4) After a couple rounds of reﬁnement, it is time to put our ideas into action. Let’s revel in this moment.
      .col-sm-4.why
        h3 Why Do It
        p With fresh new branding, a website, or promotional piece at hand, you can now face the world with conﬁdence in how you are represented. Likewise, your audience will recognise you as trustworthy, worth their time and perhaps their money.
